#headbar{
    background-color:var(--secondary-accent);
    padding:4px;
    font-size: 2em;
    color:white;
    font-family:var(--big);
    z-index:0;
}
#secondbar{
    background-color:var(--tertiary-accent);
    padding:4px;
    font-size: 1.5em;
    color:white;
    font-family:var(--big);
    z-index:0;
    float:left;
    width:85%;
    margin-left:15%;
}
#storyb{
    position:relative;
    left: 15%;
}
.inside{
    margin:5%;
    line-height:160%;
    color:black;
}