<head><link rel="stylesheet" type="text/css" href="styles.css">
<link rel="stylesheet" type="text/css" href="menu.css">
<link rel="stylesheet" type="text/css" href="about.css"></head>

<body>
    <div id="iamtheheader">
        <img src="https://68.media.tumblr.com/avatar_16bdd542c4a3_128.png" height="75px" style="position:relative;left: 15%;">
        <ul id="nav">
        <li><a href="home.html"><br>Home<br>&nbsp;</a></li>
        <li><a class="fly" href="#"><br>About > <br>&nbsp;</a>
            <ul class="dd">
                <li><a href="story.html">Our Story</a></li>
                <li><a href="impact.html">Our Impact</a></li>
                <li><a href="staff.html">Our Staff</a></li>
                
            </ul>
        </li>
        <li><a class="fly" href="#"><br>Initiatives > <br>&nbsp;</a>
            <ul class="dd">
                <li><a class="fly" href="#">Crimson Consulting > </a>
                    <ul>
                        <li><a href="">About</a></li>
                        <li><a href="">Consultants</a></li>
                        <li><a href="">Clients</a></li>
                    </ul>
                </li>
                <li><a href="">Ignite Internship Initiative</a></li>
                <li><a href="#">Tulip Tree Fund</a></li>
            </ul>
        </li>
        <li><a href=""><br>News<br>&nbsp;</a></li>
        <li><a href=""><br>Contact Us<br>&nbsp;</a></li>
        <li><a href=""><br><strong>Donate<br>&nbsp;</strong></a></li>
    </ul></div>

<hr class="hbr" style="height:69px">
<div id="headbar"><span id="storyb">Crimson Consulting</span></div>

<img style="display:block;margin-left:auto;margin-left:15%;" width="25%" src="https://static.wixstatic.com/media/e8b742_20af2274bd614e5c9d43f0bbfdef2e33~mv2_d_4500_2400_s_4_2.png/v1/fill/w_514,h_210,al_c,usm_0.66_1.00_0.01/e8b742_20af2274bd614e5c9d43f0bbfdef2e33~mv2_d_4500_2400_s_4_2.png">
<hr class="hbr">

<div>
<div style="float:left;width:25%;margin-left:15%"><h2 style="text-align:justify;">We aim to foster relational learning and professional growth between IU undergraduates and Kelley MBAs while positively impacting small businesses in Bloomington and beyond.
</h2><p style="text-align:justify;">Crimson Consulting aims to foster relational learning and professional growth between IU undergraduates and Kelley MBAs while positively impacting small businesses in Bloomington and beyond.
<br><br>
Crimson Consulting started as an idea from Professor Keith Dayton and several students to provide social impact through working with small businesses in Bloomington and beyond. By combining Kelley MBAs and IU undergraduates to work on consulting engagement teams for class credit, small business owners receive pro-bono consulting services to help improve their business processes and strategies.</p>

</div>

<div class="parallax" style="float:right;width:25%;margin-right:10%;height:360px;background-image:url('https://upload.wikimedia.org/wikipedia/commons/3/37/African_Bush_Elephant.jpg')">&nbsp;</div>

<div style="display: inline-block; width: 25%;"><p style="margin:4%;text-align:justify;">Crimson Consulting is a branch of the Hoosier Community Network, a student organization focused on social impact. The program is managed by Tanner Snider (President), Megan Gardner (Associate Director), Julia Keene (VP of Internal Communications), and Cassidy Zimmerman (VP of External Communications). <br><br>
As of May 1, 2016, Crimson Consulting successfully completed its inaugural semester. Additionally, starting in the summer of 2016, Crimson Consulting will provide a connection between Bloomington entrepreneurs and IU students to facilitate summer and semester-long internships.
</p>
</div></div>

<hr class="hbr" style="height:100px">
<img style="display:block;margin-left:15%;" width="75%" src="https://static.wixstatic.com/media/e8b742_e2e754a376314d8899bb23e1713b2abd~mv2_d_4500_2400_s_4_2.png/v1/fill/w_1224,h_659,al_c,usm_0.66_1.00_0.01/e8b742_e2e754a376314d8899bb23e1713b2abd~mv2_d_4500_2400_s_4_2.png">

<hr class="hbr" style="height:100px">

<hr class="hbr" style="height:100px">

<!--This footer is just there for visual purposes; Delete before moving to Angular -->
<div id="iamthefooter"><table width="100%" bgcolor="#eeedeb" style="font-size:.7em; color:#006298"><tbody>
    <tr>
    <td>
        <a routerLink="#home" routerLinkActive="active">HCN home</a>
        <br /><a routerLink="#story" routerLinkActive="active">Our impact</a>
        <br /><a routerLink="#staff" routerLinkActive="active">Our team</a>
        <p style="font-size:.7em;">© 2017 Hoosier Community Network</p>

    <td>
        <a routerLink="#initiatives" routerLinkActive="active">Our initiatives</a>
        <br /><a routerLink="#bod" routerLinkActive="active">HCN Board of Directors</a>
        <br /><a routerLink="#join" routerLinkActive="active">Our initiatives</a><p>
        <a href="/contactus" style="font-size:.7em">Contact us</a></p>
    <td>

    <table><tbody><tr><td align=center colspan=3>
    <a href="https://www.paypal.com/cgi-bin/webscr"><button name="Donate" >Donate</button></a>
    <br /></td></tr><tr>
    <td>
        <a href="https://www.linkedin.com/company/hoosiercn">
        <img src="https://static.wixstatic.com/media/e8b742_2fca94b39ca042e4ac0fd9dc6d1abdc1~mv2.png/v1/fill/w_71,h_69,al_c,usm_0.66_1.00_0.01/e8b742_2fca94b39ca042e4ac0fd9dc6d1abdc1~mv2.png" width="20px" height="20px"/></a></td>
    <td>
        <a href="https://www.facebook.com/hoosiercn/">
        <img src="https://www.facebook.com/images/fb_icon_325x325.png" width="20px" height="20px"/>
        </a>
    </td>
    <td>
        <a href="https://www.facebook.com/hoosiercn/">
        <img src="https://www.youtube.com/yt/brand/media/image/YouTube-icon-full_color.png" width="20px" height="20px"/>
        </a>
    </td>
    </tr>
    <tr><td colspan=3></td></tr>
    </tbody></table>
    
    </td></tbody></table></div>
    

    </body>