<head><link rel="stylesheet" type="text/css" href="styles.css">
<link rel="stylesheet" type="text/css" href="menu.css">
<link rel="stylesheet" type="text/css" href="about.css"></head>

<body>
    <div id="iamtheheader">
        <img src="https://68.media.tumblr.com/avatar_16bdd542c4a3_128.png" height="75px" style="position:relative;left: 15%;">
        <ul id="nav">
        <li><a href="home.html"><br>Home<br>&nbsp;</a></li>
        <li><a class="fly" href="#"><br>About > <br>&nbsp;</a>
            <ul class="dd">
                <li><a href="story.html">Our Story</a></li>
                <li><a href="impact.html">Our Impact</a></li>
                <li><a href="staff.html">Our Staff</a></li>
                
            </ul>
        </li>
        <li><a class="fly" href="#"><br>Initiatives > <br>&nbsp;</a>
            <ul class="dd">
                <li><a class="fly" href="#">Crimson Consulting > </a>
                    <ul>
                        <li><a href="">About</a></li>
                        <li><a href="">Consultants</a></li>
                        <li><a href="">Clients</a></li>
                    </ul>
                </li>
                <li><a href="">Ignite Internship Initiative</a></li>
                <li><a href="#">Tulip Tree Fund</a></li>
            </ul>
        </li>
        <li><a href=""><br>News<br>&nbsp;</a></li>
        <li><a href=""><br>Contact Us<br>&nbsp;</a></li>
        <li><a href=""><br><strong>Donate<br>&nbsp;</strong></a></li>
    </ul></div>

<hr class="hbr" style="height:69px">
<div id="headbar"><span id="storyb">Our Impact</span></div>

<div style="float:left;width:25%;margin-left:15%"><p class="inside" style="text-align:right;"><img class="parallax"  src="http://imgc.allpostersimages.com/images/P-473-488-90/61/6168/IMOG100Z/posters/martin-harvey-baby-elephant.jpg" width="100%">Please fill me. I feel so sad and alone. It's cold here. A lot of MBAs and undergrads work with us. It's cool. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus molestie egestas mi ut venenatis. Ut facilisis scelerisque magna, id viverra nisi tincidunt ut. Sed convallis elementum diam, in feugiat nisi
</p></div>

<div style="float:right;width:25%;margin-right:10%"><p class="inside"><img class="parallax" src="placeholder2.png" style="width:100%"></p></div>

<div style="display: inline-block; width: 25%;"><p class="inside"> consequat vel. Aenean tincidunt risus in ultricies varius. Aenean sapien quam, elementum at ex ut, varius hendrerit augue. Duis id enim ac eros ornare pulvinar. Maecenas erat leo, malesuada vitae accumsan vitae, congue eget ante. Sed at metus pretium, condimentum ante nec, efficitur neque.

Fusce condimentum velit at vestibulum convallis. Maecenas viverra cursus nisi quis lacinia. Maecenas vehicula tortor a lectus commodo eleifend. Duis at orci purus. Nullam pellentesque sem sed enim sodales, a mollis sem porta. Vestibulum rutrum quam ac mauris convallis auctor. In semper metus a arcu varius congue. Phasellus pellentesque lectus non nisl congue lacinia. Nunc eleifend, risus elementum sodales dapibus, erat ante lacinia lacus, varius interdum augue diam quis velit. Mauris maximus faucibus cursus. Curabitur maximus dui quis orci posuere rutrum. 
</p>
</div>

<hr class="hbr" style="height:100px">

<!--This footer is just there for visual purposes; Delete before moving to Angular -->

<!--This footer is just there for visual purposes; Delete before moving to Angular -->
<div id="iamthefooter"><table width="100%" bgcolor="#eeedeb" style="font-size:.7em; color:#006298"><tbody>
    <tr>
    <td>
        <a routerLink="#home" routerLinkActive="active">HCN home</a>
        <br /><a routerLink="#story" routerLinkActive="active">Our impact</a>
        <br /><a routerLink="#staff" routerLinkActive="active">Our team</a>
        <p style="font-size:.7em;">© 2017 Hoosier Community Network</p>

    <td>
        <a routerLink="#initiatives" routerLinkActive="active">Our initiatives</a>
        <br /><a routerLink="#bod" routerLinkActive="active">HCN Board of Directors</a>
        <br /><a routerLink="#join" routerLinkActive="active">Our initiatives</a><p>
        <a href="/contactus" style="font-size:.7em">Contact us</a></p>
    <td>

    <table><tbody><tr><td align=center colspan=3>
    <a href="https://www.paypal.com/donate/?token=LmDh7ibB3BSQoQzEYaZJo8SNxbHggX6qhI3JjaRDihD4YDn03wCczyQbVznOuJsKpcKzqW"><button name="Donate" >Donate</button></a>
    <br /></td></tr><tr>
    <td>
        <a href="https://www.linkedin.com/company/hoosiercn">
        <img src="https://static.wixstatic.com/media/e8b742_2fca94b39ca042e4ac0fd9dc6d1abdc1~mv2.png/v1/fill/w_71,h_69,al_c,usm_0.66_1.00_0.01/e8b742_2fca94b39ca042e4ac0fd9dc6d1abdc1~mv2.png" width="20px" height="20px"/></a></td>
    <td>
        <a href="https://www.facebook.com/hoosiercn/">
        <img src="https://www.facebook.com/images/fb_icon_325x325.png" width="20px" height="20px"/>
        </a>
    </td>
    <td>
        <a href="https://www.facebook.com/hoosiercn/">
        <img src="https://www.youtube.com/yt/brand/media/image/YouTube-icon-full_color.png" width="20px" height="20px"/>
        </a>
    </td>
    </tr>
    <tr><td colspan=3></td></tr>
    </tbody></table>
    
    </td></tbody></table></div>
    

    </body>