/* main menu styles */
#nav,#nav ul {
    list-style:none;
    margin:0;
    padding:0;
}
#nav {
    position:relative;
    z-index:2;
    float:right;
}
#nav ul {
    left:-9999px;
    position:absolute;
    top:74px;
    width:auto;
    border:1px solid var(--title-text-color);
}
#nav ul ul {
    left:-9999px;
    position:absolute;
    top:0;
    width:auto;
    border:1px solid var(--title-text-color);
}
#nav li {
    float:left;
    position:relative;
    border:1px solid var(--title-text-color);
}
#nav li a {
    background:#e0d9de;
    color:#000;
    display:block;
    float:left;
    font-size:16px;
    padding:8px 10px;
    text-decoration:none;
}
#nav li a.fly {
    background:#e0d9de;
}
#nav ul li {
    margin:0;
}
#nav ul li a {
    width:120px;
}
#nav ul li a.fly {
    padding-right:10px;
}

/*hover styles*/
#nav li:hover > a {
    background-color:#512a44;
    color:#fff;
}

/*focus styles*/
    #nav li a:focus {
    outline-width:0;
}

/*popups*/
#nav li a:active + ul.dd,#nav li a:focus + ul.dd,#nav li ul.dd:hover {
    left:0;
}
#nav ul.dd li a:active + ul,#nav ul.dd li a:focus + ul,#nav ul.dd li ul:hover {
    left:140px;
}