@import url('https://fonts.googleapis.com/css?family=Lora:400,400i|Raleway:100,200,300,400,500,600,700');       

:root{
    --main-text-color:#990000;
    --title-text-color:#4c1213;
    --decor-accent-color:#512a44;
    --secondary-accent:#66435a;
    --tertiary-accent:#a38e9c;
    --big:'Lora';
    --little:'Raleway';
}

body{
    color:var(--main-text-color);
    font-family: var(--little), 'Helvetica',sans-serif;
    background-color:#fafaf9;
    font-weight:400;
}

hr{
    color:var(--decor-accent-color);
    border:none;
    background-color:var(--decor-accent-color);
}

h1 {font-family: var(--big), var(--little),'Helvetica',sans-serif;
   text-align:center;
   line-height: 20%;
   color:var(--title-text-color);
   font-size:2.5em;
   }
   
h2 {font-family:  var(--little),'Helvetica',sans-serif;
   text-align:center;
   font-size: 1em;
   color:var(--secondary-accent);
}
   
h3 {font-family: var(--little),'Helvetica',sans-serif;
   text-align:center;
   line-height: 90%;
   }

.parallax{
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.learnmore{
    text-align:right;
    font-weight:500;
}

.hbr{
    height:2px; 
    visibility:hidden; 
    margin-bottom:-1px;
    color:blue;
    text-decoration:underline;
}

#catalyzing {
	background-image: url("http://i.imgur.com/CkkUXPN.jpg");
	width: 100%;
	height: 320px;
}
#iamtheheader{
    top:0;
    z-index:2;
    position:fixed;
    background-color:#e0d9de;
    width:99%;
    border:1px solid black;
}
#iamthefooter{
    bottom:0;
    width:100%;
    position:fixed;
    color:#006298;
}