doctype html

html
    head
        base(href="/")
        title Hoosier Community Network
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
    body
        my-app