 <div id="iamtheheader">
        <img src="https://68.media.tumblr.com/avatar_16bdd542c4a3_128.png" height="75px" style="position:relative;left: 15%;">
        <ul id="nav">
        <li><a href="home.html" style="border-left-width:2px"><br>Home<br>&nbsp;</a></li>
        <li><a class="fly" href="#"><br>About > <br>&nbsp;</a>
            <ul class="dd">
                <li><a href="">Our Story</a></li>
                <li><a href="">Our Impact</a></li>
                <li><a href="">Our Staff</a></li>
                
            </ul>
        </li>
        <li><a class="fly" href="#"><br>Initiatives > <br>&nbsp;</a>
            <ul class="dd">
                <li><a class="fly" href="#">Crimson Consulting > </a>
                    <ul>
                        <li><a href="">About</a></li>
                        <li><a href="">Consultants</a></li>
                        <li><a href="">Clients</a></li>
                    </ul>
                </li>
                <li><a href="">Ignite Internship Initiative</a></li>
                <li><a href="#">Tulip Tree Fund</a></li>
            </ul>
        </li>
        <li><a href=""><br>News<br>&nbsp;</a></li>
        <li><a href=""><br>Contact Us<br>&nbsp;</a></li>
        <li><a href=""><br><strong>Donate<br>&nbsp;</strong></a></li>
    </ul></div>